<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Your page title here :)</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/main.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">


  <div class="header">      
        <h2>'Allo, 'Allo!</h2>
        <p class="lead">Always a pleasure scaffolding your apps.</p>
        <a class="button button-primary" href="#">Splendid!</a>
  </div>


  <!-- Browserify -->
  <div class="row">
    <div class="twelve columns">
      <img src="images/browserify.png" />
      <h4>Browserify</h4>
      <p>Browserify lets you require('modules') in the browser by bundling up all of your dependencies.</p>
    </div>
  </div>


  <div class="row">
  
    <!-- Gulp -->
    <div class="six columns">
      <img src="images/gulp.png" />
      <h4>Gulp</h4>
      <p>Speed. Efficiency. Simplicity. Gulp's use of streams and code-over-configuration makes for a simpler and more intuitive build.</p>
    </div>

    <!-- React -->
    <div class="six columns">
      <img src="images/react.png" />
    </div>
    <h4>React</h4>
    <p>React is a JavaScript library for building user interfaces.</p>  

  </div>


  <!-- jQuery -->
  <div class="row">

    <div class="six columns">
      <img src="images/jquery.png" />
      <h4>jQuery</h4>
      <p>The Write Less, Do More, JavaScript Library.</p>
    </div>

  <% if (cssFramework === 'SASS') { %>
  <!-- Sass -->
    <div class="six columns">
      <img src="images/sass.png" />
      <h4>Sass</h4>
      <p>Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
    </div>
  </div><% } %>

  <% if (cssFramework === 'LESS') { %>
  <!-- Less -->
    <div class="six columns">
      <img src="images/less.png" />
      <h4>Less</h4>
      <p>Less is a CSS pre-processor, meaning that it extends the CSS language, adding features that allow variables, mixins, functions and many other techniques that allow you to make CSS that is more maintainable, themable and extendable.</p>
    </div> <% } %>

  </div>


  <!-- react app -->
  <div id="content">
  </div>


  <div class="footer">
    <p>♥ from Steven Iseki and the Yeoman team</p>
  </div>

  </div>
</div>

<script src="scripts/app.js"></script>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
